.pricing {
	display: flex;
}

.productCard .textPart {
	transition: transform .3s ease-out;
}

.productCard:hover .textPart {
	transform: translateY(-1rem);

}

.productCard:hover {
	box-shadow: rgba(27, 27, 27, 10) 0px 4px 20px;
}

.CardContainer {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;


}